@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.css';
.container {
  position: relative;
  text-align: center;
}

.top-left {
  position: absolute;
  top: 100px;
  left: 100px;
  color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
